.scrollComponent {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.createPostContainer {
    display: flex;
    height: 10svh;
    width: 100%;
    padding-inline: 0.8rem;
    gap: 1.3rem;
    position: relative;
    align-items: center;
    background-color: rgb(223, 220, 220);
    border-radius: 20px;


}

.uploadButton {
    position: absolute;
    right: 0;
    bottom: -45%;
    background: rgb(96, 96, 224);
    color: white;
    border-radius: 10px;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    cursor: pointer;
    

}

.userProfile {
    border-radius: 100%;
    height: 60%;
    width: fit-content;

}

.createPostContainer > textarea {
    width: 100%;
}

.Fab {
    background-color: rgb(43, 25, 237);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    
}

.Fab > svg {
    width: fit-content;
    height: 40px;
    color: white;
}

.textAreaOfContent {
    width: 80%;
    height: 70%;
    border: 1px solid silver;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding-inline: 1.5rem;
    padding-block: 0.8rem;
    outline: none;
}


.wraper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.singleCard {
    width: 100%;
    border-radius: 10px 10px 0px 0px ;    
    border-bottom: 1px solid rgb(179, 179, 179);


}