.container {
    font-family: "Poppins";
    padding: 1.2rem;
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    padding-inline: 2rem;
    height: 80vh;
}

.mainContainer__left {
    flex: 0.5;
}

.mainContainer__right{
    flex: 0.5;
}

.mainContainer__left > p:nth-child(1){
    font-size: 2.9rem;
    background: -webkit-linear-gradient(45deg, #000000, #b2b2b2);
    background-clip: text;
    font-weight: bold;
    -webkit-text-fill-color: transparent;
}


.mainContainer__left > p:nth-child(2) {
    color: #4D4D4D;
    font-size: 1.7rerm;
}

.mainContainer__left > div.buttonJoin {
    width: fit-content;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    margin-top: 0.8rem;
    font-size: 1.5rem;
    background: rgb(79, 48, 100);
    color: white;
    border-radius: 10px;
}

