.container {
  padding: 1.8rem;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBarOptionContainer {
  display: flex;
}

.buttonJoin {
  background: #4f3064;
  padding-inline: 1.2rem;
  padding-block: 0.6rem;
  cursor: pointer;
  font-size: 0.7rem;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
